examples/basic-ise-anc-clear-endpoint-policy-by-ip-example.json
[
    {
        "id": "4774f737.706048",
        "type": "tab",
        "label": "ISE ANC Clear Endpoint Policy By IP Address Example",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f28063a1.34b86",
        "type": "dxl-ise-anc-clear-endpoint-policy-by-ip",
        "z": "4774f737.706048",
        "name": "Clear quarantine policy from endpoint",
        "policyName": "quarantine_policy",
        "client": "",
        "returnType": "obj",
        "x": 330,
        "y": 220,
        "wires": [
            [
                "a541a614.1c48d8"
            ]
        ]
    },
    {
        "id": "a541a614.1c48d8",
        "type": "debug",
        "z": "4774f737.706048",
        "name": "Output result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 570,
        "y": 220,
        "wires": []
    },
    {
        "id": "f4a88f87.03c38",
        "type": "inject",
        "z": "4774f737.706048",
        "name": "Specify IP address",
        "topic": "",
        "payload": "<SPECIFY_IP_ADDRESS>",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 40,
        "wires": [
            [
                "5efca67c.c3f478"
            ]
        ]
    },
    {
        "id": "5efca67c.c3f478",
        "type": "change",
        "z": "4774f737.706048",
        "name": "Set IP address request parameter",
        "rules": [
            {
                "t": "set",
                "p": "ipAddress",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 120,
        "wires": [
            [
                "f28063a1.34b86"
            ]
        ]
    }
]
