examples/basic-ise-anc-apply-endpoint-policy-by-ip-example.json
[
    {
        "id": "fa83e3e.6c1722",
        "type": "tab",
        "label": "ISE ANC Apply Endpoint Policy By IP Address Example",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9198f0d8.0ef6e",
        "type": "dxl-ise-anc-apply-endpoint-policy-by-ip",
        "z": "fa83e3e.6c1722",
        "name": "Apply quarantine policy to endpoint",
        "policy": "quarantine_policy",
        "client": "",
        "x": 360,
        "y": 40,
        "wires": [
            [
                "c127d63f.3db6d8"
            ]
        ]
    },
    {
        "id": "c127d63f.3db6d8",
        "type": "debug",
        "z": "fa83e3e.6c1722",
        "name": "Output result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 590,
        "y": 40,
        "wires": []
    },
    {
        "id": "465c89d6.8d1bd8",
        "type": "inject",
        "z": "fa83e3e.6c1722",
        "name": "Set IP address",
        "topic": "",
        "payload": "<SPECIFY_IP_ADDRESS>",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 40,
        "wires": [
            [
                "9198f0d8.0ef6e"
            ]
        ]
    }
]
