examples/basic-ise-anc-apply-endpoint-policy-by-ip-example.json
[
    {
        "id": "c755bee4.87866",
        "type": "tab",
        "label": "ISE ANC Apply Endpoint Policy By IP Address Example",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d7b91996.cf8a08",
        "type": "dxl-ise-anc-apply-endpoint-policy-by-ip",
        "z": "c755bee4.87866",
        "name": "Apply quarantine policy to endpoint",
        "policyName": "quarantine_policy",
        "client": "",
        "returnType": "obj",
        "x": 340,
        "y": 200,
        "wires": [
            [
                "1b30f011.27ba2"
            ]
        ]
    },
    {
        "id": "1b30f011.27ba2",
        "type": "debug",
        "z": "c755bee4.87866",
        "name": "Output result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 590,
        "y": 200,
        "wires": []
    },
    {
        "id": "9308339b.bfd42",
        "type": "inject",
        "z": "c755bee4.87866",
        "name": "Specify IP address",
        "topic": "",
        "payload": "<SPECIFY_IP_ADDRESS>",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 40,
        "wires": [
            [
                "f6a06dfe.5742a"
            ]
        ]
    },
    {
        "id": "f6a06dfe.5742a",
        "type": "change",
        "z": "c755bee4.87866",
        "name": "Set IP address request parameter",
        "rules": [
            {
                "t": "set",
                "p": "ipAddress",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 120,
        "wires": [
            [
                "d7b91996.cf8a08"
            ]
        ]
    }
]
