examples/basic-ise-anc-apply-endpoint-policy-by-ip-example.json
[
    {
        "id": "8485f259.2f0f4",
        "type": "tab",
        "label": "ISE ANC Apply Endpoint Policy By IP Address Example",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5e5b73e6.6274cc",
        "type": "dxl-ise-anc-apply-endpoint-policy-by-ip",
        "z": "8485f259.2f0f4",
        "name": "Apply quarantine policy to endpoint",
        "policy": "quarantine_policy",
        "client": "",
        "returnType": "obj",
        "x": 360,
        "y": 40,
        "wires": [
            [
                "efd0ee56.56436"
            ]
        ]
    },
    {
        "id": "efd0ee56.56436",
        "type": "debug",
        "z": "8485f259.2f0f4",
        "name": "Output result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 590,
        "y": 40,
        "wires": []
    },
    {
        "id": "9433d4d.fa77e28",
        "type": "inject",
        "z": "8485f259.2f0f4",
        "name": "Set IP address",
        "topic": "",
        "payload": "<SPECIFY_IP_ADDRESS>",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 40,
        "wires": [
            [
                "5e5b73e6.6274cc"
            ]
        ]
    }
]
