examples/basic-ise-anc-apply-endpoint-policy-by-mac-example.json
[
    {
        "id": "f2fe78a8.e29fe8",
        "type": "tab",
        "label": "ISE ANC Apply Endpoint Policy By MAC Address Example",
        "disabled": false,
        "info": ""
    },
    {
        "id": "391b17bb.d9fe78",
        "type": "dxl-ise-anc-apply-endpoint-policy-by-mac",
        "z": "f2fe78a8.e29fe8",
        "name": "Apply quarantine policy to endpoint",
        "policy": "quarantine_policy",
        "client": "",
        "returnType": "obj",
        "x": 360,
        "y": 40,
        "wires": [
            [
                "c937c70b.aaef88"
            ]
        ]
    },
    {
        "id": "c937c70b.aaef88",
        "type": "debug",
        "z": "f2fe78a8.e29fe8",
        "name": "Output result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 590,
        "y": 40,
        "wires": []
    },
    {
        "id": "adcfc6cc.1b75a8",
        "type": "inject",
        "z": "f2fe78a8.e29fe8",
        "name": "Set MAC address",
        "topic": "",
        "payload": "<SPECIFY_MAC_ADDRESS>",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 40,
        "wires": [
            [
                "391b17bb.d9fe78"
            ]
        ]
    }
]
