examples/basic-ise-anc-clear-endpoint-policy-by-mac-example.json
[
    {
        "id": "e7a29869.9871c8",
        "type": "tab",
        "label": "ISE ANC Clear Endpoint Policy By MAC Address Example",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1a7737c6.e54428",
        "type": "dxl-ise-anc-clear-endpoint-policy-by-mac",
        "z": "e7a29869.9871c8",
        "name": "Clear quarantine policy from endpoint",
        "policy": "quarantine_policy",
        "client": "",
        "returnType": "obj",
        "x": 370,
        "y": 40,
        "wires": [
            [
                "e4067c99.dca2f"
            ]
        ]
    },
    {
        "id": "e4067c99.dca2f",
        "type": "debug",
        "z": "e7a29869.9871c8",
        "name": "Output result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 610,
        "y": 40,
        "wires": []
    },
    {
        "id": "d32281fd.f5dd9",
        "type": "inject",
        "z": "e7a29869.9871c8",
        "name": "Set MAC address",
        "topic": "",
        "payload": "<SPECIFY_MAC_ADDRESS>",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 40,
        "wires": [
            [
                "1a7737c6.e54428"
            ]
        ]
    }
]
