examples/basic-ise-anc-clear-endpoint-policy-by-ip-example.json
[
    {
        "id": "a7ebd16.41fb23",
        "type": "tab",
        "label": "ISE ANC Clear Endpoint Policy By IP Address Example",
        "disabled": false,
        "info": "This sample clears a Cisco Adaptive Network Control (ANC) policy from an\r\nendpoint via DXL and Cisco pxGrid. The sample identifies the endpoint by its IP\r\naddress. The payload from the response received for the Cisco pxGrid request is\r\nprinted to the Node-RED `debug` tab.\r\n\r\n### Prerequisites\r\n\r\n* The samples configuration step has been completed (see the\r\n  [DXL Configuration Sample](https://github.com/opendxl/node-red-contrib-dxl/wiki/Client-Configuration)).\r\n* The DXL fabric to which the client will connect has been bridged to Cisco\r\n  pxGrid.\r\n* The DXL client associated with the `Clear quarantine policy from endpoint` node has been authorized to perform `DXL Cisco pxGrid Queries`\r\n  (see [Authorize Client to Use Cisco pxGrid via DXL](https://opendxl.github.io/opendxl-pxgrid-client-python/pydoc/pxgridauth.html)).\r\n* Import and run the `ISE ANC Apply Endpoint Policy By IP Address` example to\r\n  apply a policy to an endpoint. A run of this example can then clear\r\n  the policy.\r\n\r\n### Setup\r\n\r\n* Edit the `Specify IP address` node and modify the `Payload` property with the\r\n  IP address of an endpoint for which to clear the `quarantine_policy`.\r\n  For example:\r\n\r\n  ```\r\n  192.168.1.1\r\n  ```\r\n\r\n* To deploy the flow, press the `Deploy` button in the upper-right corner of the\r\n  screen. If Node-RED is able to properly connect to the DXL fabric, a green dot\r\n  with the word `connected` should appear under the\r\n  `Clear quarantine policy from endpoint` node.\r\n\r\n### Running\r\n\r\nTo exercise the flow, double-click the button on the left side of the\r\n`Specify IP address` node.\r\n\r\n### Output\r\n\r\nIf the policy can be cleared successfully, the following message will be\r\ndisplayed to the Node-RED `debug` tab:\r\n\r\n```\r\n▶ { ancStatus: \"success\" }\r\n```\r\n\r\nIf no policy has been associated with the endpoint before the example\r\nis run, the flow is halted with an `error.message` similar to the following:\r\n\r\n```\r\nmac address is not associated with a policy error associated with ip 192.168.1.1\r\n```\r\n\r\n### Details\r\n\r\nThe flow exercises the nodes below.\r\n\r\n#### Specify IP address\r\n\r\nThis is an `inject` input node which starts the flow. This node injects a new\r\nmessage with a `payload` property which specifies the IP address of an endpoint.\r\n\r\n#### Set IP address request parameter\r\n\r\nThis is a `change` node which copies the value from the `payload` message\r\nproperty to the `ipAddress` property. The `Clear quarantine policy from endpoint`\r\nnode uses the `ipAddress` property when constructing the parameters for the\r\nCisco pxGrid clear endpoint policy request. \r\n\r\n#### Clear quarantine policy from endpoint\r\n\r\nThis is an `ise anc clear endpoint policy by ip` node. This node connects to the DXL\r\nfabric and sends a DXL `Request` message to Cisco pxGrid service to clear the\r\npolicy from the endpoint.\r\n\r\nThe request message includes the `ipAddress` property set by the\r\n`Set IP address request parameter` node.\r\n\r\nThe `Policy name` property is set to \"quarantine_policy\".\r\n\r\nThe `Return` property is set to \"a parsed JSON object\" to indicate that the\r\npayload for the response should be added to the output message as a JavaScript\r\nobject decoded from JSON.\r\n\r\n#### Output result\r\n\r\nThis is a `debug` output node. This node outputs the `payload` set on the\r\nmessage by the `Clear quarantine policy from endpoint` node. If the clear\r\nendpoint policy request succeeded, the object written to the Node-RED `debug`\r\nwindow should contain a property with a key of \"ancStatus\" and associated value\r\nof \"success\"."
    },
    {
        "id": "d3fa828e.0ec49",
        "type": "dxl-ise-anc-clear-endpoint-policy-by-ip",
        "z": "a7ebd16.41fb23",
        "name": "Clear quarantine policy from endpoint",
        "policyName": "quarantine_policy",
        "client": "",
        "returnType": "obj",
        "x": 350,
        "y": 300,
        "wires": [
            [
                "ca03f801.401998"
            ]
        ]
    },
    {
        "id": "ca03f801.401998",
        "type": "debug",
        "z": "a7ebd16.41fb23",
        "name": "Output result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 450,
        "y": 400,
        "wires": []
    },
    {
        "id": "7e1a98d2.0b99a8",
        "type": "inject",
        "z": "a7ebd16.41fb23",
        "name": "Specify IP address",
        "topic": "",
        "payload": "<SPECIFY_IP_ADDRESS>",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 100,
        "wires": [
            [
                "685728ac.3996b8"
            ]
        ]
    },
    {
        "id": "685728ac.3996b8",
        "type": "change",
        "z": "a7ebd16.41fb23",
        "name": "Set IP address request parameter",
        "rules": [
            {
                "t": "set",
                "p": "ipAddress",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 200,
        "wires": [
            [
                "d3fa828e.0ec49"
            ]
        ]
    },
    {
        "id": "643caaf8.b27ad4",
        "type": "comment",
        "z": "a7ebd16.41fb23",
        "name": "Supply the IP address in the 'Specify IP address' node",
        "info": "",
        "x": 220,
        "y": 40,
        "wires": []
    }
]
