examples/basic-ise-anc-clear-endpoint-policy-by-ip-example.json
[
    {
        "id": "f69dd8ec.c86578",
        "type": "tab",
        "label": "ISE ANC Clear Endpoint Policy By IP Address Example",
        "disabled": false,
        "info": ""
    },
    {
        "id": "30cbd30.e186c2e",
        "type": "dxl-ise-anc-clear-endpoint-policy-by-ip",
        "z": "f69dd8ec.c86578",
        "name": "Clear quarantine policy from endpoint",
        "policy": "quarantine_policy",
        "client": "",
        "returnType": "obj",
        "x": 370,
        "y": 40,
        "wires": [
            [
                "af4700b5.861e3"
            ]
        ]
    },
    {
        "id": "af4700b5.861e3",
        "type": "debug",
        "z": "f69dd8ec.c86578",
        "name": "Output result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 610,
        "y": 40,
        "wires": []
    },
    {
        "id": "70adf186.64945",
        "type": "inject",
        "z": "f69dd8ec.c86578",
        "name": "Set IP address",
        "topic": "",
        "payload": "<SPECIFY_IP_ADDRESS>",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 40,
        "wires": [
            [
                "30cbd30.e186c2e"
            ]
        ]
    }
]
